{% block navbarOriginal %}
<title>{{ title }}</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  {% if logo==true %}<img src="/static/{{ logo }}">{% endif %}
  {% if logo==false %}<b>{{ title }}</b>{% endif %}
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">{{ name }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Статьи</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/goods/man">Мужская одежда</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/goods/woman">Женская одежда</a>
      </li>
    </ul>
	<ul class="navbar-nav navbar-right">
	<a class="nav-link" href="/cart">Корзина</a>
	<a class="nav-link" href="/login">Профиль</a>
	</ul>
  </div>
</nav>
{% endblock %}
{% block navbar %}
<title>{{ title }}</title>
<style>
body {
	background-color: black;
	color: white;
}
.navbar {
	postion: fixed;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	!important;
}
.navbar-left {
	align: left;
} 
#sidemenu {
	align: right;
	height: 100%;
}
</style>
<div class="navbar">
<a onclick="show();" id="menubut">Меню</a>
<div class="navbar-left">
<a href="/cart">Корзина</a> <a href="/login">Профиль</a>
</div>
</div>
<div align="center" style="z-index: -1; position: absolute;">
<a class="navbar-brand" href="/">
  {% if logo==true %}<img src="/static/{{ logo }}">{% endif %}
  {% if logo==false %}<b>{{ title }}</b>{% endif %}
  </a>
</div>
<div id="sidemenu" style="display:none;">
<a href="/goods/man">Мужская одежда</a>
<a href="/goods/woman">Женская одежда</a>
<a></a>
</div>
{% endblock %}