{% use '/panelNav.html.twig' %}
{% use '/service.html.twig' %}

{% block meta %}
{{ parent() }}
{% endblock %}
{% block navbar %}
{{ parent() }}
{% endblock %}
<div style="padding: 1%">
<a href="/panel/articles/new" class="btn btn-lg btn-success">Новая статья</a>
<p><i>Для редактирования и просмотра статей— кликните по названию</i></p>
{% for article in articles %}
<p><a href="/panel/articles/edit/{{article.id}}"><b>{{article.id}}</b> {% if article.title!=false %}{{article.title}}{% endif %}{% if article.title==false %}Статья без названия{% endif %}</a> Опубликовано: {{article.time|date("H:i:s d/m/Y")}}</p>
{% endfor %}
<p><i>30 статей на одной странице</i></p>
{% if page==1 %}
<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link active" href="/panel/articles"><b>1</b></a></li>
    <li class="page-item"><a class="page-link" href="/panel/articles?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="/panel/articles?page=3">3</a></li>
	<li class="page-item"><a class="page-link" href="/panel/articles?page=4">4</a></li>
	<li class="page-item"><a class="page-link" href="/panel/articles?page=5">5</a></li>
  </ul>
</nav>
{% endif %}
{% if page>1 %}
<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/panel/articles?page={{ page-1 }}">{{ page-1 }}</a></li>
    <li class="page-item"><a class="page-link active" href="/panel/articles?page={{ page }}"><b>{{ page }}</b></a></li>
    <li class="page-item"><a class="page-link" href="/panel/articles?page={{ page+1 }}">{{ page+1 }}</a></li>
	<li class="page-item"><a class="page-link" href="/panel/articles?page={{ page+2 }}">{{ page+2 }}</a></li>
	<li class="page-item"><a class="page-link" href="/panel/articles?page={{ page+3 }}">{{ page+3 }}</a></li>
  </ul>
</nav>
{% endif %}
</div>